*.bin
*.uptnl
*.uasset
*.uexp
*.ubulk
*.umap
*.ini
*.dat
*.locres
*.pem
*.res
*.icu
*.cfu
*.cnv
*.nrm
*.brk
*.dict
*.locmeta
*.png
*.PNG
*.tps
*.ttf
*.ufont
*.uplugin
*.mp4
*.uproject
*.upluginmanifest
*.csv